#del{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 80px;
    height: 60px;
    color: black;
    background-color: bisque;
    border-color: brown;
    border-width: 5px;
    border-style: solid;
    margin-right: 20px;
}

#updt{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 80px;
    height: 60px;
    color: black;
    background-color: bisque;
    border-color: brown;
    border-width: 5px;
    border-style: solid;
    margin-right: 20px;
}

#del:hover{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 80px;
    height: 60px;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-right: 20px;
}

#updt:hover{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 80px;
    height: 60px;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-right: 20px;
}



table {
    width: 100%;
    border-collapse: collapse; 
}

tr {
    background-color: white; 
}

td, th {
    text-align: center; 
    padding: 10px; 
    background-color: white; 
}

td img {
    display: block;
    margin: 0 auto; 
}

.fetch-btn{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 100px;
    height: 80px;
    color: black;
    background-color: bisque;
    border-color: brown;
    border-width: 5px;
    border-style: solid;
    margin-right: 20px;
}

.fetch-btn:hover{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 20px;
    width: 100px;
    height: 80px;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-right: 20px;
}
